body {
    height: 100vh;
    width: 100vw;
    padding: 0;
    margin: 0;
    display: grid;
    place-items: center;
}

.container {
    height: 310px;
    width: 620px;
    background-color: black;
    display: grid;
    grid: repeat(10, 1fr) / repeat(18, 1fr);  
    gap: 4px;
    border: 4px solid black;
    position: fixed;
    box-sizing: border-box;
    
    &__red {
        background-color: #EE1A24;
    }

    &__yellow {
        background-color: #F9EE11;
    }

    &__blue {
        background-color: #134A9B;
    }
    
    &__white {
        background-color: white;
    }

    &__black {
        background-color: #050505;
        color: white;
    }

}

.one {
    grid-column: 1 / 3;
    grid-row: 1 / 7;
}

.twelve {
    grid-column: 1 / 3;
    grid-row: 7 / 11;
}

.five {
    grid-column: 17 / 19;
    grid-row: 1 / 5;
}

.thirteen {
    grid-column: 17 / 19;
    grid-row: 5 / 11;    
}

.nine {
    grid-column: 3 / 10;
    grid-row: 1 / 3;
}

.fourteen {
    grid-column: 10 / 17;
    grid-row: 1 / 3;
}

.six {
    grid-column: 3 / 7;
    grid-row: 7 / 11;
}

.fifteen {
    grid-column: 7 / 11;
    grid-row: 7 / 9;
}

.two {
    grid-column: 7 / 11;
    grid-row: 9 / 11;
}

.ten {
    grid-column: 11 / 13;
    grid-row: 7 / 8;
}

.sixteen {
    grid-column: 11 / 13;
    grid-row: 8 / 11;
}

.seventeen {
    grid-column: 13 / 15;
    grid-row: 7 / 11;
}

.seven {
    grid-column: 15 / 17;
    grid-row: 7 / 11;
}

.eighteen {
    grid-column: 3 / 5;
    grid-row: 3 / 4;
}

.nineteen {
    grid-column: 3 / 5;
    grid-row: 4 / 7;
}

.eight {
    grid-column: 5 / 8;
    grid-row: 3 / 4;
}

.twenty {
    grid-column: 5 / 8;
    grid-row: 4 / 5;
}

.twenty-one {
    grid-column: 8 / 9;
    grid-row: 3 / 5;
}

.twenty-two {
    grid-column: 5 / 9;
    grid-row: 5 / 7;
}

.three {
    grid-column: 9 / 13;
    grid-row: 3 / 7;
}

.eleven {
    grid-column: 13 / 15;
    grid-row: 3 / 6;
}

.four {
    grid-column: 14 / 17;
    grid-row: 6 / 7;
}

.twenty-three {
    grid-column: 15 / 17;
    grid-row: 3 / 6;
}






























































